{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>La Choquita Gourmet</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo">
          <a href="#imagen" class="logo-link"
            ><img src="{% static 'main/images/logo.jpg' %}" alt="la choquit
            gourmet"></a
          >
        </div>
        <div class="welcome">BIENVENIDO</div>
        <div class="contact">
          <a  href="#" class="contacto-link">Contacto </a>
        </div>
      </nav>
    </header>
 
      <div class="service">
        <img src="{% static 'main/images/platillo4.jpg' %}">
        <h3>Tacos De Cochinillo</h3>
        <p>
          Pierna de cerdo marinada y horneada, acompañado de chicharrón en
          polvo, pico de gallo, cebolla encurtida y perejil frito
        </p>
      </div>
      <div class="service2">
        <p>
          Quesadilla de chicharrón y champiñones De masa amarilla cocinada en el
          ahumador, rellena de queso de hebra, chicharrón y champiñones, sobre
          cremoso de aguacate
        </p>
        <h3>Quesadilla de Chicharron y Champiñones</h3>
        <img src="{% static 'main/images/platillo 5.jpg' %}">
      </div>
  </body>
</html>
