*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial, sans-serif;
    background-color:antiquewhite;
}
header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color:#952f57;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar img{
    width: 100px;
    height: auto;
}
.navbar .welcome{
    font-size: larger;
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a{
    font-size: large;
    color: #D9A900;
    text-decoration: none;
    margin: 0 15px;
    font-size: larger;
}
.navbar a:hover{
    background-color: #B68900;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.services{
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
}

.service { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 500px;
    padding: 20px;
    margin: 120px;
    border-radius: 20px;
    background-color: white;
}

.service img{
    width: 40%;
    max-height: 100%;
    object-fit: cover;
    transition: 0.5ms;
    border-radius: 20px;
}

.service img:hover{
    transform: scale(1.1);
}

.service h3{
    width: 50%;
    font-size: 18px;
    transform: translate(300px, -100px);
}

.service p {
    width: 50%;
    font-size: 18px;
    text-align: justify;
    transform: translateX(-130px);
    transition: 0.3s;
}

.service p:hover{
    font-size: 2.1em;
}

.service2 { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 500px;
    padding: 20px;
    margin: 120px;
    border-radius: 20px;
    transform: translateY(-180px);
    background-color: white;
}
.service2 img{
    width: 40%;
    max-height: 100%;
    object-fit: cover;
}
.service2 h3{
    width: 50%;
    font-size: 18px;
    transform: translate(-300px, -100px);
}
.service2 p {
    width: 50%;
    font-size: 18px;
    text-align: justify;
    transform: translateX(130px);
}
